/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
	
    .nav-list {
        width: 60%;
    }
}




/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 768px) {
    body { 
		font-size: 16px;
		overflow-x: hidden;
	}
    section { padding: 30px 0; }
    
	.header-text-box {
		font: normal 30px/50px Montserrat, sans-serif;
	}
	
	.header-text-clear {
		opacity: 0;
	}
    .nav-list {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateZ(100%);
        transition: transform 0.5s ease-in-out;
		
	}
    .nav-list li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
	body {
		font-size: 10px;
	}
    section { padding: 25px 0; }
	
	.header-text-box {
		font: normal 20px/50px Montserrat, sans-serif;
	}
}

