/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
	--nav-bar-color: grey;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* Common code */
/* ----------------------------------------------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}



/* ----------------------------------------------- */
/* Header Styles*/
/* ----------------------------------------------- */

header {
    /*background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url();*/
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FA7676),
	color-stop(0.92, #7AFFDE)
	);
	background-image: -o-linear-gradient(bottom, #FA7676 0%, #7AFFDE 92%);
	background-image: -moz-linear-gradient(bottom, #FA7676 0%, #7AFFDE 92%);
	background-image: -webkit-linear-gradient(bottom, #FA7676 0%, #7AFFDE 92%);
	background-image: -ms-linear-gradient(bottom, #FA7676 0%, #7AFFDE 92%);
	background-image: linear-gradient(to bottom, #FA7676 0%, #7AFFDE 92%);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
	
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 10vh;
    padding-left: 2rem;
	background: transparent;
}

.nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 40%;
    list-style: none;

}

.nav-list li {
    margin: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    text-overflow: none;
    white-space: nowrap;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(255,255,255);
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-list {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		
	}
    .nav-list li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    
}

@keyframes navLinkFade {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}

/* ----------------------------------------------- */
/* Header Section Styles*/
/* ----------------------------------------------- */

.header-text {
	padding-top: 10em;
}

.header-text-box {
    padding-left: 2rem;
	display: flex;
	flex-flow: row wrap;
    font: normal 40px/50px Montserrat, sans-serif;
    color: /* Need to add color*/;
}
.header-text-box p {
  height: 50px;
  margin-right: 0.3em;
}
.header-text-box b {
  
  overflow: hidden;
  position: relative;
  height: 50px;
}
.header-text-box .header-auto-scroll-text {
	  display: block;
	  color: #e74c3c;
	  position: relative;
	  white-space: nowrap;
	  top: 0;
	  left: 0;


		/*animation*/
		-webkit-animation:move 5s;
		   -moz-animation:move 5s;
			-ms-animation:move 5s;
			 -o-animation:move 5s;
				animation:move 5s;
		/*animation-iteration-count*/
		-webkit-animation-iteration-count:infinite;
		   -moz-animation-iteration-count:infinite;
			-ms-animation-iteration-count:infinite;
			 -o-animation-iteration-count:infinite;
				animation-iteration-count:infinite;
		/*animation-delay*/
		-webkit-animation-delay:1s;
		   -moz-animation-delay:1s;
			-ms-animation-delay:1s;
			 -o-animation-delay:1s;
				animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
/*rgba(0,170,255,0.99);*/


/* ----------------------------------------------- */
/* Footer Section Styles*/
/* ----------------------------------------------- */

footer {
	height: 100%;
	background-color: #333;
	display: flex;
	justify-content: space-around;
}

footer p {
	text-align: center;
	padding-top: 25px;
	color: #888;
	font-size: 15px;
}

.footer-box {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	text-align: center;

}

.social-btn {
	display: inline-block;
	width: 50px;
	height: 50px;	
	margin: 10px;
	border-radius: 30%;
	/*box-shadow: 0 5px 15px -5px #00000070;*/
	color: #888;
	overflow:hidden;
	position: relative;

}

.social-btn i{
	line-height: 50px;
	font-size: 25px;

}

.facebook-color:hover i{
	transform: scale(1,1);
	color: #3b5998;
}

.twitter-color:hover i{
	transform: scale(1,1);
	color: #00aced;
}

.insta-color:hover i{
	transform: scale(1,1);
	color: #8a3ab9;
}

.youtube-color:hover i{
	transform: scale(1,1);
	color: #dd4b39;
}

.social-btn::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color:#3498db;
	transform: rotate(45deg);
	left: -110%;
	top:90%;

}

.facebook-color::before {
	background-color: #3b5998;
}

.twitter-color::before {
	background-color: #00aced;
}

.insta-color::before {
	background-color: #8a3ab9;
}

.youtube-color::before {
	background-color: #dd4b39;
}

.social-btn:hover::before {
	animation: aaa 0.7s 1;
	top:-110%;
	left:90%;
}

@keyframes aaa {
	0%{
		left:-110%;
		top:90%;
	} 50% {
		left:10%;
	    top:-30%;
	} 100% {
		top:-110%;
		left:90%;
	}

}

